<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="top-nav">
        <h1>SHOPKART</h1>
        <h6>SELLER DASHBOARD</h6>
        <table>
          <tr>
            <td>
              <form action="/logout">
                <button class="btn btn-outline-dark btn-md">Logout</button>
              </form>
            </td>
            <td>
              <form action="/selledItems">
                <button type="submit" class="btn btn-outline-dark bt">Your Items that have been purchased.</button>
              </form>
            </td>
          </tr>
        </table>
    </div>
    
    <div class="user-div">
        <h2>Welcome <%= username %></h2>
    </div>

    <% if(a >= 0){ %>
      <script>
        window.onload = function() {
        
        var chart = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          title: {
            text: "Statistics"
          },
          data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: [
              {y: `<%= a %>`, label: "Items Remaining to be Selled"},
              {y: `<%= b %>`, label: "Items Selled"}
            ]
          }]
        });
        chart.render();
        
        }
      </script>
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <% }else{ %>
      <h3 class="stats">Statistics will be available Once You add some items.</h3>
    <% } %>


    <div class="Your Items">
     
      <div class="item-div">
        <form action="/addItem">
          <button type="submit" class="btn btn-outline-primary">Add a new item</button>
        </form>
      </div>

      <% if(items.length == 0){ %>
          <div class="item-le"><h3>No Items Added...</h3></div>
      <% }else{ %>
          <div class="item-le"><h3>Items Added:</h3></div>
          <% for(var i=0; i<items.length; i++){ %>
            <div class="prod-div">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><img src="<%=items[i].url%>" alt="item-img" class="prod-img"></td>
                    <td>
                      <h5>Name: <%=items[i].name%></h5>
                      <h5>Description: <%=items[i].description%></h5>
                      <h5>Quantity: <%=items[i].quantity%></h5>
                      <h5>Price: <%=items[i].price%> INR</h5>
                    </td>
                    <td>
                      <form action="/modifyItems" method="POST">
                        <input type="hidden" name="name" id="name" value="<%=items[i].name%>"/>
                        <input type="hidden" name="description" id="desc" value="<%=items[i].description%>"/>
                        <input type="hidden" name="quantity" id="quantity" value="<%=items[i].quantity%>"/>
                        <input type="hidden" name="price" id="price" value="<%=items[i].price%>"/>
                        <input type="hidden" name="url" id="url" value="<%=items[i].url%>"/>
                        <button type="submit" class="btn btn-outline-success">Modify</button>
                      </form></td>
                    <td>
                      <form action="/sellerDeleteItem" method="POST">
                        <input type="hidden" name="name" id="name" value="<%=items[i].name%>"/>
                        <input type="hidden" name="description" id="desc" value="<%=items[i].description%>"/>
                        <input type="hidden" name="quantity" id="quantity" value="<%=items[i].quantity%>"/>
                        <input type="hidden" name="price" id="price" value="<%=items[i].price%>"/>
                        <input type="hidden" name="url" id="url" value="<%=items[i].url%>"/>
                        <button type="submit" class="btn btn-outline-danger">Delete Item</button>
                      </form>
                    </td>  
                  </tr>
                </tbody>
              </table>
            </div>
          <% } %>
      <% } %>  
    </div>
    <body>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>    

